<section class="section adaptiv">
    <div class="container">
        <div class="content">
            <div class="content__left">
                <h2 class="section__tag" style='padding-top: 0px; font-size: 32px;'>2.</h2>
                <h2 class="content__title">От адаптации к планам развития</h2>
                <p class="section__text">В одной платформе. Время избавить от Excel и планов разбросанных по разным системам.</p>
                <img style="width: 440px; height: 340px" src="./img/Image_2.png" alt="Image_2">
            </div>
            <div class="content__right">
                <video style="object-fit: cover; width: 560px; height: 552px; background-size: cover; border-radius: 0px;" preload="auto" playsinline="" autoplay="" loop="" muted=""> <source src="https://storage.googleapis.com/dabster-production-2/static/skill_assign_desktop.mp4" type="video/mp4"> </video>
            </div>
        </div>
    </div>
</section>