<section class="section adaptiv wow fadeInUp">
    <div class="container">
        <div class="content">
            <div class="content__left">
                <h3 class="section__tag">2.</h3>
                <h2 class="content__title">От адаптации к планам развития</h2>
                <p class="section__text">В одной платформе. Время избавить от Excel и планов разбросанных по разным системам.</p>
                <img class="adaptiv__img" src="./img/Image_2.png" alt="Image_2">
            </div>
            <div class="content__right">
                <video style="width: 100%;" preload="auto" playsinline="" autoplay="" loop="" muted=""> <source src="https://storage.googleapis.com/dabster-production-2/static/skill_assign_desktop.mp4" type="video/mp4"> </video>
            </div>
        </div>
    </div>
</section>