<section class="section wow fadeInUp">
    <div class="container">
        <div class="content">
            <div class="content__left dashboard-left">
                <h3 class="section__tag">3.</h3>
                <h2 class="content__title">От адаптации к планам развития</h2>
                <p class="section__text">Видим всю команду. На каком этапе развития, что пройдено, а что нет.
                    Даты ближайшего ревью и профиль навыков позволяет планировать развитие.</p>
                <img class="dashboard-left__item" src="./img/skill-progress.png" alt="Image_2">
                <img class="dashboard-left__item" src="./img/Combined-Shape.svg" alt="Combined-Shape">
                <img class="dashboard-left__item" src="./img/arrow-blue-2.svg" alt="arrow-blue-2">
            </div>
            <div class="content__right dashboard-right">
                <img src="./img/Shiny_Happy_Stats_an.svg" alt="Shiny_Happy_Stats_an">
            </div>
        </div>
    </div>
</section>