
 <section class="section feature">
    <div class="container">
        <h2 class="section__subtitle">С чем помогает Dabster</h2>
        <div class="feature-card">
            <div class="feature-card__item">
                <div class="feature-card__item-logo"><img src="./img/school.svg" alt="school"></div>
                <div class="feature-card__item-title">Ускоряем адаптацию новичков</div>
                <div class="feature-card__item-text">Новичок видит последовательный план развития, цели по развитию и даты ближайшей встречи с наставником</div>
            </div>
            <div class="feature-card__item">
                <div class="feature-card__item-logo"><img src="./img/group.svg" alt="group"></div>
                <div class="feature-card__item-title">Индивидуальные планы развития для опытных</div>
                <div class="feature-card__item-text">Внедрять индивидуальные планы развития теперь проще. Берем готовые навыки или составляем индивидуальные цели.</div>
            </div>
            <div class="feature-card__item">
                <div class="feature-card__item-logo"><img src="./img/insights.svg" alt="insights"></div>
                <div class="feature-card__item-title">HR аналитика</div>
                <div class="feature-card__item-text">Вся команда в одном дешборде. Когда ближайшее ревью, сколько навыков освоено, а кем вообще не занимаемся.</div>
            </div>
        </div>
    </div>
</section>