
 <section class="section feature wow fadeInUp">
    <div class="container">
        <h2 id="feature" class="title">С чем помогает Dabster</h2>
        <div class="feature-card">
            <div class="feature-card__item wow bounceInLeft" data-wow-duration="1.5s" data-wow-delay="0.5s" data-wow-offset="5">
                <div class="feature-card__logo"><img src="./img/school.svg" alt="school"></div>
                <div class="feature-card__title">Ускоряем адаптацию новичков</div>
                <div class="feature-card__text">Новичок видит последовательный план развития, цели по развитию и даты ближайшей встречи с наставником</div>
            </div>
            <div class="wow bounceInUp feature-card__item" data-wow-duration="1.5s" data-wow-delay="0.5s" data-wow-offset="5">
                <div class="feature-card__logo"><img src="./img/group.svg" alt="group"></div>
                <div class="feature-card__title">Индивидуальные планы развития для опытных</div>
                <div class="feature-card__text">Внедрять индивидуальные планы развития теперь проще. Берем готовые навыки или составляем индивидуальные цели.</div>
            </div>
            <div class="wow bounceInRight feature-card__item" data-wow-duration="1.5s" data-wow-delay="0.5s" data-wow-offset="5">
                <div class="feature-card__logo"><img src="./img/insights.svg" alt="insights"></div>
                <div class="feature-card__title">HR аналитика</div>
                <div class="feature-card__text">Вся команда в одном дешборде. Когда ближайшее ревью, сколько навыков освоено, а кем вообще не занимаемся.</div>
            </div>
        </div>
    </div>
</section>