<section class="section footer wow fadeInUp">
    <div class="container">
        <h1 id="ready" class="section__title white wow fadeInDown" data-wow-duration="2.5s">Готовы попробовать?</h1>
        <div class="footer-card">
            <div class="footer-card__item wow bounceInLeft" data-wow-duration="1.5s" data-wow-delay="0.5s">
                <div class="footer-card__logo">1</div>
                <div class="footer-card__title">Высылаем доступ</div>
                <div class="footer-card__text">Ваш бесплатный доступ на команду из трех человек</div>
            </div>
            <div class="footer-card__item wow bounceInLeft" data-wow-duration="1.5s" data-wow-delay="1.0s">
                <div class="footer-card__logo">2</div>
                <div class="footer-card__title">Создаете знания</div>
                <div class="footer-card__text">Создаете вашу базу знаний навыков</div>
            </div>
            <div class="footer-card__item wow bounceInLeft" data-wow-duration="1.5s" data-wow-delay="1.5s">
                <div class="footer-card__logo">3</div>
                <div class="footer-card__title">Строите план развития</div>
                <div class="footer-card__text">Строите индивидуальные планы развития для своей команды</div>
            </div>
        </div>

        <div class="link">
            <a class="link__item" href="#">Получить доступ</a>
        </div>
    </div>
</section>
