<section class="section footer">
    <div class="container">
        <h1 class="section__title section__title-white">Готовы попробовать?</h1>
        <div class="footer-card">
            <div class="footer-card__item">
                <div class="footer-card__item-logo">1</div>
                <div class="footer-card__item-title">Высылаем доступ</div>
                <div class="footer-card__item-text">Ваш бесплатный доступ на команду из трех человек</div>
            </div>
            <div class="footer-card__item">
                <div class="footer-card__item-logo">2</div>
                <div class="footer-card__item-title">Создаете знания</div>
                <div class="footer-card__item-text">Создаете вашу базу знаний навыков</div>
            </div>
            <div class="footer-card__item">
                <div class="footer-card__item-logo">3</div>
                <div class="footer-card__item-title">Строите план развития</div>
                <div class="footer-card__item-text">Строите индивидуальные планы развития для своей команды</div>
            </div>
        </div>

        <div class="link">
            <a class="link__item" href="#">Получить доступ</a>
        </div>
    </div>
</section>
