<header class="header">
    <div class="container">
        <div class="navbar">
            <div class="navbar__logo">
                <img src="./img/logo.svg" alt="logo" class="navbar__img">
            </div>
                    <ul class="menu">
                        <li class="menu__item"><a href="#feature" class="menu__link" data-scroll>С чем помогает программа</a></li>
                        <li class="menu__item"><a href="#howwork" class="menu__link" data-scroll>Как это работает</a></li>
                        <li class="menu__item"><a href="#ready" class="menu__link" data-scroll>Как начать?</a></li>
                    </ul>
                    <div class="burger">
                        <span></span>
                    </div>
        </div>
    </div>
</header>
