<header>
    <div class="container">
        <div class="navbar">
            <div class="navbar__logo">
                <img src="./img/logo.svg" alt="logo" class="navbar__img">
            </div>
                <div class="menu">
                    <ul class="menu__item">
                        <li><a href="#" class="menu__link">С чем помогает Dabster</a></li>
                    </ul>
                    <ul class="menu__item">
                        <li><a href="#" class="menu__link">Как это работает</a></li>
                    </ul>
                    <ul class="menu__item">
                        <li><a href="#" class="menu__link">Как начать?</a></li>
                    </ul>
                </div>
        </div>
    </div>
</header>
