<header>
    <div class="container">
        <div class="navbar">
            <div class="navbar__logo">
                <img src="./img/logo.svg" alt="logo" class="navbar__img">
            </div>
                    <ul class="menu">
                        <li class="menu__item"><a href="#" class="menu__link">С чем помогает Dabster</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Как это работает</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Как начать?</a></li>
                    </ul>
                    <button class="menu-trigger" id="menu07">
                        <span></span>
                        <span></span>
                        <span></span>
                      </button>
        </div>
    </div>
</header>
