<section class="section hero">
    <div class="container">
        <h1 class="section__title">Системный подход к</h1>
        <h1 class="section__title_step"></h1>
        <h1 class="section__title">с помощью цифрового сервиса</h1>
        <p class="hero__text">Все развитие команды в одной платформе. 
            От новичков до опытных</p>
        <div class="link">
            <a class="link__item" href="#">Попробовать Dabster</a>
        </div>
    </div>
        <div class="wrapper-person">
            <img src="./img/Teamlead.svg" alt="teamlead" class="wrapper-person__item">
            <img src="./img/Shiny_Happy_Standing.svg" alt="Shiny_Happy_Standing" class="wrapper-person__item">
            <img src="./img/Shiny_Happy_Sitting.svg" alt="Shiny_Happy_Sitting" class="wrapper-person__item">
            <img src="./img/Shiny_Happy_Standing_1.svg" alt="Shiny_Happy_Standing_1" class="wrapper-person__item">
        </div>
</section>
