<section class="hero">
    <div class="container">
        <h1 class="title">Системный подход к</h1>
        <h1 class="hero__title_step"></h1>
        <h1 class="title">с помощью цифрового сервиса</h1>
        <p class="text">Все развитие команды в одной платформе. 
            От новичков до опытных</p>
            <div class="link">
                <a class="link__item" href="#">Попробовать Dabster</a>
            </div>
    </div>
    <img class="wave" src="./img/wave.svg" alt="wave">
</section>
