<section class="section instrument">
    <div class="container">
        <h2 class="section__tag">Инструменты Dabster</h2>
        <h2 class="section__subtitle">Системный подход к адаптации</h2>
        <div class="content instrument__content">
            <div class="content__left">
                <h2 class="content__title">План адаптации автоматически назначается новичку</h2>
                <p class="section__text">Один раз создаем план адптации. Появился новичок? Автоматически назначается план.</p>
            </div>
            <div class="content__right instrument__img">
                    <img src="./img/idea_1.svg" alt="idea_1" class="instrument__img-item">
                    <img src="./img/arrow-blue.svg" alt="arrow-blue" class="instrument__img-item">
                    <img src="./img/new-skill.png" alt="new-skill" class="instrument__img-item">
            </div>
        </div>
        <div class="video-wrapper">
            <video style="object-fit: cover; background-size: cover; width: 860px; height: 538px; filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1)) drop-shadow(0px 2px 2px rgba(38, 50, 56, 0.1)) drop-shadow(0px 1px 30px rgba(41, 121, 255, 0.1));
            border-radius: 16px;" preload="auto" playsinline="" autoplay="" loop="" muted=""> <source src="https://storage.googleapis.com/dabster-production-2/static/skill_creation_desktop.mp4" type="video/mp4"> </video>
        </div>
        <img src="./img/skill.png" alt="new-skill" class="instrument__img-item">
    </div>
</section>