<section class="section rating">
    <div class="container">
        <div class="content">
            <div class="content__left side-text">
                <h2 class="content__title" style="color:#fff;" >Оценивайте прогресс развития</h2>
                <p class="section__text" style="color:#fff;">Не достаточно просто что-то изучить. Система оценки позволит видеть, кто из команды работает над развитием, а кто подзавяз в рутине.</p>
            </div>
            <div class="content__right">
                <img src="./img/Image_3.svg"  style="width: 320px; height: 300px"  alt="Image_3">
            </div>
        </div> 
        <video style="object-fit: cover; background-size: cover; width: 1160px; height: 405px;
border-radius: 0px;" preload="auto" playsinline="" autoplay="" loop="" muted=""> <source src="https://storage.googleapis.com/dabster-production-2/static/skill_evaluation_desktop.mp4" type="video/mp4"> </video>
    </div>
</section>