.dashboard {
    position: relative;
    padding-bottom: 210px;

    &__tag {
        padding-bottom: 0px;
		padding-top: 60px;
		font-size: 32px;
		color: #2979ff;
    }
    &::after {
        color: #263238;
        position: absolute;
        bottom: 400px;
        right: 120px;
        font-weight: 600;
        font-size: 14px;
        width: 160px;
        content: 'Карточка навыка, который проходит тиммейт';
    }

    &__item {

        &:nth-of-type(1) {
            padding-top: 20px;
            padding-left: 20px;
        }

        &:nth-of-type(2) {
            position: absolute;
            left: 0px;
            animation: animate_left-arrow 5s infinite;
        }

        &:nth-of-type(3) {
            position: absolute;
            left: 250px;
            bottom: 45%;
            animation: animate-right-arrow 3s infinite;
        }
    }
}

@keyframes animate-right-arrow {
	0% {
		transform: rotate(180deg) scale3d(1, 1, 1);
	}
	50% {
		transform: rotate(180deg) scale3d(1.05, 1.05, 1.05);
	}
	100% {
		transform: rotate(180deg) scale3d(1, 1, 1);
	}
}

@keyframes animate_left-arrow {
	0% {
        transform: rotate(20deg) scale3d(1, 1, 1);
	}
	50% {
        transform: rotate(20deg) scale3d(1.1, 1.1, 1.1);
	}
	100% {
        transform: rotate(20deg) scale3d(1, 1, 1);
	}
}