.feature {
    background-color: #f8f8f8;
    padding-top: 30px;
    padding-bottom: 105px;
    
    &:before {
        background-image: url(./img/wave.svg);
        z-index: 3;
    }
}

.feature-card {
    display: flex;
    gap: 50px;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;

    @media (max-width: 900px) {
        gap: 15px;
        flex-wrap: wrap;
        padding: 40px;
    }

    &__item {

        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        min-height: 290px;
        background-color: #fff;
        padding: 25px;
        border-radius: 8px;
        box-shadow: 0 4px 4px 0 rgb(38 50 56 / 10%);
        align-content: center;
        flex-direction: column;
        justify-content: space-around;
        transition: .3s;

        &:hover {
            transition: .3s;
            transform: scale(1.05);
        }
    }

    &__title {
        color: #2979ff;
        font-size: 20px;
        font-weight: 600;
        line-height: 25px;
    }
    
    &__text {
        letter-spacing: 0.5px;
    }


}