

.footer {
    background-color: #263238;
    padding-bottom: 30px;
}

.footer-card {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

    &__item {

        display: block;
        width: 360px;
        min-height: 270px;
        background-color: transparent;
        padding: 25px;
        border-radius: 8px;

        &-title {
            padding-top: 35px;
            color: #fff;
            font-size: 24px;
            font-weight: 600;
            line-height: 25px;
        }
        
        &-text {
            font-size: 16px;
            padding-top: 35px;
            letter-spacing: 0.5px;
            color: #fff;
        }

        &-logo {
            text-align: center;
            color: #fff;
            width: 70px;
            height: 70px;
            padding: 17px;
            font-size: 32px;
            font-family: 'Inter',sans-serif;
            font-weight: 700;
            border-radius: 50%;
            background-color: #2979ff;
        }
    }
}