.footer {
    background-color: #263238;
    padding-bottom: 30px;
    padding-top: 50px;
}

.footer-card {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    @media (max-width: 768px) {
        flex-wrap: wrap;
    }

    &__item {

        display: block;
        min-height: 270px;
        background-color: transparent;
        padding: 25px;
        border-radius: 8px;
    }

    &__title {
        margin-bottom: 30px;
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        line-height: 25px;
    }
    
    &__text {
        font-size: 16px;

        letter-spacing: 0.5px;
        color: #fff;
    }

    &__logo {
        text-align: center;
        color: #fff;
        width: 70px;
        height: 70px;
        padding: 17px;
        font-size: 32px;
        font-family: 'Inter',sans-serif;
        font-weight: 700;
        border-radius: 50%;
        background-color: #2979ff;
        margin-bottom: 40px;
    }
}