.header {
    padding: 20px 0;

    @media (max-width: 768px) {
        border-bottom: 1px solid #2979ff;
}
}

.navbar {
    display: flex;
    gap: 25px;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

    @media (max-width: 768px) {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
    }
}

.menu {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;

    @media (max-width: 768px) {
        display: none;
	}

    &__link {
        transition: .3s;
        color: #546e7a;
        font-size: 14px;
        text-decoration: none;

        &:hover {
            color: #2979ff;
            transition: .3s;
        }
    }
}
